

/*///////////////////
 CONSTRUCTION 2 CSS 
 ////////////////*/



/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


html  .top-cart i,html  .top-cart .icon-basket{
	color:#00000099;
	
}


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 2*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


html .yamm{
	background-color:#526aff;
}


.banner-full-width .btn.btn-primary{
	background-color:#526aff;
	border-color:#526aff;
}



/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 2*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

html .banner-full-width {
  background: none;
  color:#333333;
    border-top:#eeeeee 1px solid;
  border-bottom:#eeeeee 1px solid;
}

html  .banner-full-width p{
 color:#333333;	
}


html  .banner-full-width .btn {
  border-color: #333333;
  color: #333333;
}