/*------------------------------------------------------------------
[Table of contents]
- Service  
- Contact
-------------------------------------------------------------------*/


/*Service*/

.box-2-title {
	color: #333333;
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 0;
	text-align: left;
	width: 100%;
	padding: 30px 0 10px 0;
}
.box-2-text {
	padding: 20px 0;
}
.media:after {
	background: rgba(255, 255, 255, 0.4);
	content: "";
	height: 100%;
	left: -150%;
	position: absolute;
	top: 0;
	transition: none 0s ease 0s;
	width: 100%;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.media {
	position: relative;
}
.media:hover:after {
	left: -50%;
}
.btn-download {
	background: none repeat scroll 0 0 #00000099;
	color: #000 !important;
	display: inline-block;
	margin: 10px 0;
	padding: 18px 20px;
	width: 100%;
}
.btn-download i {
	margin-right: 24px;
}
.info-desc {
	border: 7px solid #f9be00;
	box-shadow: 1px 1px 3px #daa700 inset;
	display: inline-block;
	padding: 50px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}
.info-desc:after {
	background: none repeat scroll 0 0 #f9be00;
	content: "";
	display: block;
	height: 20px;
	position: absolute;
	right: -18px;
	top: -11px;
	width: 50px;
	z-index: 98;
	-moz-transform: rotate(45deg);  /* Firefox */
	-o-transform: rotate(45deg);  /* Opera */
	-webkit-transform: rotate(45deg);  /* Safari y Chrome */
 filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
}
.info-desc:before {
	background: none repeat scroll 0 0 #f9be00;
	content: "";
	display: block;
	height: 20px;
	position: absolute;
	left: -17px;
	bottom: -19px;
	width: 50px;
	z-index: 98;
	-moz-transform: rotate(45deg);  /* Firefox */
	-o-transform: rotate(45deg);  /* Opera */
	-webkit-transform: rotate(45deg);  /* Safari y Chrome */
 filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
}
.info-desc th {
	color: #fff;
	font-weight: normal;
	min-width: 100px;
	padding: 5px;
	vertical-align: top;
}
.info-desc td {
	padding: 5px;
	vertical-align: top;
	font-weight: normal;
	color: #fff;
}
.info-desc td i {
	color: #526aff;
}
/*Contact*/


.contactForm2 textarea {
	min-height: 160px;
}
.map .iframe {
	border: medium none;
	height: 400px;
	margin: 20px 0 -28px;
	overflow: hidden;
	width: 100%;
}
