/*------------------------------------------------------------------
[Table of contents]

 - Global
 - Section
 - Header  
-  Heading
-  Tabs box
-  Carousel box
-  Video box
-  Testimonials box
-  Amount box
-  Icon Buttons 
-  Full width Box
-  Footer


-------------------------------------------------------------------*/


.ua-ie-8  body:after{
 background: none repeat scroll 0 0 red;
    color: #fff;
    content: "IE 8 NOT SUPPORT :(";
    display: block;
    font-family: monospace;
    font-size: 40px;
    height: 100%;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}


.ua-ie-8 .layout-theme{
	display:none !important;
}



body {
	color: #525252;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 1.52857;
}
.ip-header .ip-loader svg path.ip-loader-circle {
	-webkit-transition: stroke-dashoffset 0.2s;
	transition: stroke-dashoffset 0.2s;
	stroke: green;
}
.yamm .nav > li > a {
	font-family: 'latobold';
}
b, strong {
	font-weight: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
}
.light-font {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}
.ul-inline {
	margin: 0;
	padding: 0;
}
.ul-inline li {
	display: inline-block;
}
.btn-icon-right, .btn-icon-left {
	position: relative;
	border: none !important;
	overflow: hidden;
}
.btn-icon-right {
	padding-right: 60px;
}
.btn-icon-right .btn-icon {
	font-size: 10px;
	padding-right: 24px;
	position: absolute;
	right: -10px;
	top: 0;
	height: 100%;
}
.btn-icon-left {
	padding-left: 50px;
}
.btn-icon-left .btn-icon {
	font-size: 10px;
	height: 100%;
	left: -10px;
	padding-left: 24px;
	padding-right: 10px;
	position: absolute;
	top: 0;
}
.btn:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: rgba(255,255,255,.4);
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
	transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(-14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(-14deg) translate(0px);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.btn:hover:after {
	width: 120%;
	background-color: transparent;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.btn-transparent {
	background: none repeat scroll 0 0 transparent !important;
}
.btn-transparent i {
	margin: 0 !important;
}
.separator_10 {
	border: medium none;
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}
.separator_20 {
	border: medium none;
	display: inline-block;
	margin-bottom: 20px;
	width: 100%;
}
.separator_30 {
	border: medium none;
	display: inline-block;
	margin-bottom: 30px;
	width: 100%;
}
.separator_40 {
	border: medium none;
	display: inline-block;
	margin-bottom: 40px;
	width: 100%;
}
.responsive-img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
input[type=text], input[type=password], input[type=email], input[type=tel], select, textarea {
	background: #fff;
	border: 1px solid #eeeeed;
	color: #aaaaaa;
	font-family: inherit;
	font-size: 13px;
	line-height: inherit;
	padding: 10px 20px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus {
	border-color: #333333 !important;
	color: #333333 !important;
}
.btn-add-review {
	padding-top: 20px;
}
.list-style-check {
	margin: 25px 0;
	padding: 0 0 0 20px;
}
.list-style-check li {
	list-style: none;
	position: relative;
	padding-bottom: 2px;
}
.list-style-check li:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	left: -20px;
	position: absolute;
	top: -2px;
	font-family: 'FontAwesome';
	content: "\f058";
	color: #526aff;
}
.list-style-check.list-style-check-blue li:before {
	color: #00000099;
}
.no-margin {
	margin: 0 !important;
	padding: 0 !important;
}
.primary-color {
	color: #526aff;
}
.ul-inline li {
	display: inline-block;
}
html [class^="flaticon-"]::before, html [class*=" flaticon-"]::before, html [class^="flaticon-"]::after, html [class*=" flaticon-"]::after {
	margin-left: 0;
}
.meta-list li {
	display: inline-block;
	vertical-align: top;
}
.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}
.arrow-list li a {
	padding: 0 10px;
	color: #525252;
}
.arrow-list i {
	color: #00000099;
	margin-right: 15px;
	position: relative;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.arrow-list li:hover i {
	color: #526aff;
	left: 3px;
}
.arrow-list a {
	display: inline-block;
	width: 100%;
}
/*Section*/

.home-section {
	
	position: relative;
	background-color: #fff;
	display: inline-block;
	width: 100%;
	clear: both;
}
.carousel {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.theme-section {
	margin: 0;
	position: relative;
	background-color: transparent;
}
.home-section.section-preset1, .theme-section.section-preset1 {
	background-color: #2e375f;
}
.home-section.section-preset2, .theme-section.section-preset2 {
	background-color: #da5226;
}
.home-section.section-preset3, .theme-section.section-preset3 {
	background: none repeat scroll 0 0 #f5f5f5;
}
.home-section.section-preset1 *, .theme-section.section-preset1 * {
	color: #fff;
}
.bg-simple {
	background: none repeat scroll 0 0 #f5f5f5;
	margin: 40px 0;
	padding: 50px 0;
}
.bg-parallax {
	overflow: hidden;
	position: relative;
	background-color: inherit !important;
}
.bg-parallax .section-header .fa, .bg-parallax .section-header .fa:after, .bg-parallax .section-header .fa:before {
	background: none repeat scroll 0 0 transparent;
}
.banner-full-width {
	background: none repeat scroll 0 0 #333333;
	display: inline-block;
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 0;
	padding: 37px 20px;
	width: 100%;
}
.banner-full-width .btn {
	border: 1px solid #fff;
	color: #fff;
	min-width: 140px;
}
.banner-full-width .btn.btn-primary {
	background-color: #00000099;
	border-color: #00000099;
	color: #ffffff;
}
.banner-full-width p {
	color: #fff;
	font-size: 24px;
}
.btn-fw-banner {
	padding-right: 60px;
}
.paralax-header {
	text-align: left;
	position: relative;
	margin: 35px 0 35px 0;
	font-size: 40px;
}
.paralax-header::after {
	border-bottom: 3px solid #fff;
	bottom: -15px;
	content: "";
	left: 2px;
	position: absolute;
	width: 6%;
}
.full-title.banner-full-width {
	background-color: #526aff;
	height: 80px;
}
.full-title {
	color: #fff;
	background: #FC6;
	padding: 10px;
 font-size:
 text-transform:uppercase;
}
.full-title-name {
	background: none repeat scroll 0 0 #00000099;
	color: #fff;
	display: inline-block;
	font-size: 22px;
	font-weight: 600;
	left: 0;
	padding: 20px 32px;
	position: relative;
	text-transform: uppercase;
	top: 18px;
	min-width: 295px;
	text-align: center;
}
.full-title-name .btn {
	background: none repeat scroll 0 0 #526aff !important;
	border-color: #526aff !important;
	bottom: -15%;
	color: #fff !important;
	font-size: 13px;
	left: 100%;
	position: absolute;
	text-transform: none;
}
.main-content {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #262626 !important;
	color: white;
}
/*Header*/

.header {
	clear: both;
	display: inline-block;
	margin:0;
	width: 100%;
	position: relative;
	z-index: 88;
}
.logo {
	position: relative;
	top: 4px;
}
.right-header {
	text-align: right;
}
.right-header h5 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 6px;
}
.right-header h4, .right-header h4 a {
	color: #555555;
	font-size: 16px;
	font-weight: 600;
	padding-top: 0px;
	margin-top: 0;
}
.right-header .col-right-header {
	display: inline-block;
	padding-left: 57px;
	vertical-align: top;
	margin-top: 15px;
}
.info-top li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 5px 0 2px;
}
.navbar-header {
	background: none repeat scroll 0 0 #f4f4f4;
	font-size: 14px;
	padding: 10px 0 5px;
	width: 100%;
}
.navbar-header i {
	color: #999999;
	font-size: 14px;
	margin: 0 5px;
}
.navbar-header .social-links li a {
	border-right: 1px solid #999999;
	display: inline-block;
	line-height: 11px;
	padding-right: 10px;
}
.top-cart {
	float: right;
	margin: 18px 13px 0 35px;
	width: 134px;
	position: relative;
	border-left: 1px solid #eeeeee;
}
.top-cart a {
	text-decoration: none !important;
	font-size: 14px;
	color: #555555;
}
.top-cart i:after, .top-cart i:before {
	font-size: 25px;
	margin-right: 5px;
}
.top-cart i, .top-cart .icon-basket {
	color: #526aff;
	font-size: 20px;
}
.top-cart .qty-top-cart-active {
	border-radius: 100px;
	color: #fff;
	font-size: 11px;
	height: 27px;
	line-height: 27px;
	position: absolute;
	left: 33px;
	text-align: center;
	top: 9px;
	width: 27px;
}
.yamm .dropdown-menu {
	background: none repeat scroll 0 0 #333333;
	position: absolute;
	top: 70px;
	padding: 0;
}
.yamm .dropdown-menu ul {
	color: #fff;
	list-style: outside none none;
	margin: 0 0 25px;
	padding: 0;
}
.yamm-fw .dropdown-menu a {
	padding: 5px 0 !important;
}
.yamm .dropdown-menu a {
	color: #aaaaaa;
	display: inline-block;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 20px;
	text-transform: uppercase;
	width: 100%;
}
.yamm .dropdown-menu i {
	margin-right: 10px;
}
.yamm .dropdown-menu a:hover {
	color: #fff;
}
.yamm .dropdown-menu .thumbnail {
	padding: 0 !important;
	border: none !important;
}
.yamm .dropdown-menu .t1-title {
	border-bottom: 1px solid #555555;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding-bottom: 15px;
	margin-top: 0;
	position: relative;
	text-transform: uppercase;
}
.yamm .dropdown-menu .t1-title:after {
	border-bottom: 1px solid #c49d1e;
	bottom: -1px;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	width: 70px;
}
/*Title*/

.section-header .heading {
	margin: 0;
	text-align: center;
}
.section-header {
	display: inline-block;
	padding: 40px 0 18px;
	text-align: center;
	width: 100%;
}
.section-header .heading {
	color: #000;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}
.after-heading-info {
	color: #526aff;
	font-size: 14px;
}
/*Service*/


.service-item {
	margin: 30px 0;
}
.service-item .fa:before {
	color: #333333;
	font-size: 72px;
	margin: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.service-item:hover .fa:before {
	color: #fff !important;
}
.service-item:hover .service-icon {
	background-color: #00000099;
}
.service-icon {
	margin-bottom: 30px;
	border: 2px solid #00000099;
	border-radius: 100px;
	display: inline-block;
	height: 145px;
	padding: 35px 5px 25px 5px;
	text-align: center;
	width: 145px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.service-item h4 {
	font-size: 20px;
	margin-bottom: 25px;
	color: #333333;
}
.parallax-black .service-item .fa::before {
	color: #00000099;
}
/*Testimonials*/


.testi-box {
	padding-top: 20px;
}
.testi-box .person-text {
	background: none repeat scroll 0 0 #fff;
	box-shadow: 1px 2px 2px rgba(11, 25, 28, 0.1);
	padding: 30px 30px;
	position: relative;
	font-style: italic;
}
.person-text > .arrow, .person-text > .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.person-text > .arrow {
	border-width: 11px;
}
.person-text > .arrow:after {
	border-width: 10px;
	content: "";
}
.person-text.top > .arrow {
	left: 55px;
	margin-left: -11px;
	border-bottom-width: 0;
	border-top-color: #999999;
	border-top-color: #ddd;
	bottom: -11px;
}
.person-text.top > .arrow:after {
	content: " ";
	bottom: 1px;
	margin-left: -10px;
	border-bottom-width: 0;
	border-top-color: #ffffff;
}
.person-text.right > .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-left-width: 0;
	border-right-color: #999999;
	border-right-color: rgba(0, 0, 0, 0.25);
}
.person-text.right > .arrow:after {
	content: " ";
	left: 1px;
	bottom: -10px;
	border-left-width: 0;
	border-right-color: #ffffff;
}
.person-text.bottom > .arrow {
	left: 50%;
	margin-left: -11px;
	border-top-width: 0;
	border-bottom-color: #999999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	top: -11px;
}
.person-text.bottom > .arrow:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #ffffff;
}
.person-text.left > .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-right-width: 0;
	border-left-color: #999999;
	border-left-color: rgba(0, 0, 0, 0.25);
}
.person-text.left > .arrow:after {
	content: " ";
	right: 1px;
	border-right-width: 0;
	border-left-color: #ffffff;
	bottom: -10px;
}
.box-testi-simple {
	margin-bottom: 30px;
}
.person-text .icomoon-quote-left {
	color: #999999;
	font-size: 31px;
	left: 30px;
	position: absolute;
	top: -15px;
}
.person-text h4 {
	color: #000;
	font-size: 18px;
}
.person-text {
	color: #535353;
	font-size: 15px;
	line-height: 1.333;
	padding-left: 50px;
	position: relative;
}
.person-avatar img {
	border-radius: 100px;
	height: 70px !important;
	overflow: hidden;
	width: 70px !important;
}
.person-info .person-avatar, .person-info .person-name {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}
.person-name h5 {
	color: #545454;
	font-size: 16px;
	margin: 0;
}
.person-info {
	margin-top: 30px;
	padding: 0 0 0 20px;
	position: relative;
}
.testi-title .product-rating {
	margin-bottom: 15px;
}
.person-info .product-rating {
	position: absolute;
	right: 0;
	top: 0;
}
/*Amount*/



.chart {
	display: inline-block;
	font-size: 35px;
	font-weight: 600;
	height: 47px;
	width: 100%;
}
.ft-icons-simple {
	display: inline-block;
	float: left;
	height: 100%;
	width: 33%;
}
.ft-icons-simple .fa, .ft-icons-simple .fa:after, .ft-icons-simple .fa:before {
	color: #999999;
	font-size: 56px;
	position: relative;
	top: 5px;
	left: -3px;
}
.featured-item-simple-icon h6 {
	color: #999999 !important;
	font-size: 16px;
	font-weight: normal !important;
	margin-top: 0;
}
.featured-item-simple-icon {
	background: none repeat scroll 0 0 #fff;
	display: inline-block;
	padding: 30px 15px;
	width: 100%;
	margin: 100px 0;
	position: relative;
}
.featured-item-simple-icon::after {
	border-bottom: 7px solid #5169fd;
	bottom: -7px;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	width: 33%;
}
html .featured-item-simple-icon * {
	color: #000;
}
.ft-content {
	border-left: 1px solid #ddd;
	float: left;
	padding-left: 7%;
	text-align: left;
	width: 67%;
}
/*box-icon-and-button*/

.box-icon-and-button {
	display: block;
	margin: 0 20px 0 0;
	padding: 0 0 0 20px;
	text-align: center;
	position: relative;
}
.box-border-left:after {
	border-left: 1px solid #e7e7e7;
	content: "";
	display: inline-block;
	height: 100%;
	left: -15px;
	position: absolute;
	top: 0;
}
.box-border-right:before {
	border-right: 1px solid #e7e7e7;
	content: "";
	display: inline-block;
	height: 100%;
	position: absolute;
	right: -35px;
	top: 0;
}
.box-icon-and-button > .fa, .box-icon-and-button > .fa:after, .box-icon-and-button > .fa:before {
	font-size: 90px;
	color: #2e375f;
}
.content-hover {
	position: relative;
}
.content-hover .btn {
	opacity: 0;
	margin: 0 auto;
	padding: 11px 35px 0 0;
	font-size: 10px;
	width: 80%;
	max-width: 165px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.box-icon-and-button:hover .btn {
	opacity: 1;
}
.box-icon-and-button:hover .content-hover .content-hover-i {
	visibility: hidden;
}
.content-hover-i {
	margin-top: -40px;
}
.box-icon-and-button h3 {
	color: #333333;
	font-size: 17px;
	margin: 15px 0 25px;
}
/*Full Box*/


.full-width-box {
	clear: both;
}
.full-width-box > .row, .full-width-box .row > .col-md-6 {
	margin: 0;
	padding: 0;
}
.help-block li, .help-block ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.contactForm * {
	color: #fff;
}
.contactForm {
	margin: 6% 15% 5% 5%;
}
.full-width-left, .full-width-right {
	position: relative;
	z-index: 7;
}
.contactForm input[type='text'], .contactForm input[type='email'], .contactForm input[type='tel'], .contactForm textarea {
	background: none repeat scroll 0 0 #d74516;
	border: 1px solid #e58869;
	color: #fff;
	padding: 15px;
	height: auto;
}
.contactForm input[type='text'], .contactForm input[type='email'], .contactForm input[type='tel'], .contactForm textarea {
	background: none repeat scroll 0 0 #d74516;
	border: 1px solid #e58869;
	color: #fff;
	padding: 15px;
	height: auto;
}
.contactForm textarea {
	min-height: 115px;
}
.full-width-box:after {
	background-color: #d74516;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: none 0s ease 0s;
	width: 80%;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.full-width-box:hover:after {
	width: 82%;
}
/*Carousel Team*/


.carousel-team .carousel-text {
	text-align: left;
}
.carousel-team .carousel-title {
	border-bottom: 1px solid #eeeeee;
	padding: 0 20px 20px;
	text-align: left;
}
.carousel-team .btn {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #eeeeee !important;
	color: #333333;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.carousel-team .btn-icon {
	background-color: #2e375f;
	padding-right: 15px !important;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.carousel-team li {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out
}
.carousel-team li:hover {
	background-color: #f5f5f5;
}
.carousel-team li:hover .btn-icon {
	background-color: #d74516
}
.carousel-team li:hover .btn {
	background-color: #2e375f;
	color: #fff;
}
.carousel li .media:after {
	background: rgba(255, 255, 255, 0.4);
	content: "";
	height: 100%;
	left: -150%;
	position: absolute;
	top: 0;
	transition: none 0s ease 0s;
	width: 100%;
	transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transform: rotate(360deg) scale(1.003) skew(14deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-o-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-ms-transform: rotate(0deg) scale(1.003) skew(14deg) translate(0px);
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.carousel li .media {
	position: relative;
}
.carousel li:hover .media:after {
	left: -50%;
}
.box-1 {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 50px;
	margin-top: 20px;
	padding-bottom: 20px;
}
.box-1-title {
	color: #333333;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: left;
	width: 100%;
}
.box-1-text {
	padding: 20px 0;
}
.box-1 .media {
	margin-bottom: 20px;
}
/*Mail Champ */


#mc_embed_signup input {
	border: 1px solid #dddddd;
	margin-bottom: 50px;
	margin-top: 20px;
	padding: 15px;
	width: 100%;
}
.mc_embed_signup_scroll {
	position: relative;
}
#mc-embedded-subscribe {
	position: absolute;
	right: 26px;
	top: 28px;
}
html #mc_embed_signup {
	background: none;
}
/*Brand*/


.logo-box {
	display: inline-block;
	padding: 20px 13px 55px 13px;
	width: 13%;
}
/*Footer*/


.pre-footer {
	background: none repeat scroll 0 0 #526aff;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	margin-top: 20px;
	overflow: hidden;
	padding: 30px;
	position: relative;
	text-align: center;
	top: 20px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
}
.pre-footer:hover {
	background: none repeat scroll 0 0 #00000099;
}
.pre-footer:hover i {
	color: #fff;
}
.pre-footer-content {
	display: none;
	margin-bottom: -20px;
}
.map-box {
	margin-bottom: -20px;
	margin-top: 100px;
}
.pre-footer-content iframe, .map-box iframe {
	width: 100% !important;
	height: 300px;
}
.pre-footer-content img, .map-box img {
	width: 100% !important;
	height: auto;
}
.btn-location-open {
	cursor: pointer;
}
.btn-location-open i {
	color: #00000099;
	font-size: 20px;
	margin: 12px;
	position: relative;
	top: 4px;
}
.pre-footer * {
	font-size: 20px;
	color: #fff;
}
.pre-fot-box {
	border-left: 1px solid #df6a45;
	color: #fff;
	overflow: hidden;
	padding-bottom: 45px;
	padding-top: 30px;
}
.pre-fot-box * {
	color: #fff;
}
.pre-fot-box:hover .btn-icon i {
	color: #df6a45;
}
.pre-fot-box:hover .btn-icon {
	background: #fff;
}
.pre-fot-box .btn-icon {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	background: none repeat scroll 0 0 #df6a45;
	display: inline-block;
	float: left;
	font-size: 21px;
	margin-left: -20px;
	margin-right: 30px;
	padding: 9px 25px 10px 43px;
	position: relative;
	top: 0;
	width: auto !important;
}
.footer-shop {
	background: none repeat scroll 0 0 #333333;
	color: #999999;
	font-size: 14px;
	margin-top: 20px;
	padding: 30px 0;
}
.footer-shop p {
	margin-bottom: 18px;
}
.footer-shop a {
	color: #999999;
	text-decoration: none !important;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.footer-shop li:hover a {
	color: #fff !important;
}
.footer-shop .fot-logo {
	margin-bottom: 30px;
}
.footer-shop .fot-title {
	border-bottom: 1px solid #555555;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 40px;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
	position: relative;
}
.footer-shop .fot-title:after {
	border-bottom: 1px solid #c49d1e;
	bottom: -1px;
	content: "";
	display: inline-block;
	left: 0;
	position: absolute;
	width: 70px;
}
.footer-shop ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-shop ul li {
	color: #999999;
	padding: 0 0 10px 10px;
}
.fot-box {
	margin-bottom: 30px;
}
.fot-contact td {
	padding: 5px;
	vertical-align: top;
}
.x-hover-box li {
	margin-bottom: 5px;
	margin-left: 20px;
	position: relative;
}
.x-hover-box li:before {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	left: -20px;
	position: absolute;
	top: 1px;
	font-family: 'FontAwesome';
	content: "\f058";
	color: #fff;
}
.x-hover-box li a {
	padding: 5px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.x-hover-box li a:hover {
	text-decoration: underline;
}
.x-hover-box li:hover:before {
	color: #d74516;
}
.x-hover-box li:hover > a {
	text-decoration: underline;
}
.x-hover-box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.table-contact i {
	color: #526aff !important;
	font-size: 16px;
	margin-right: 10px;
	text-align: left;
	width: 15px;
}
.table-contact td {
	border-bottom: 1px solid #eeeeee;
	padding: 10px 10px 10px 0;
	vertical-align: top;
	color: #525252;
	font-size: 14px;
}
.table-contact td * {
	color: #525252;
	font-size: 14px;
}
.table-contact td a:hover {
	text-decoration: none;
}
.fot-contact i {
	color: #fff;
	display: inline-block;
	font-size: 17px;
	margin: 0 5px;
	min-height: 25px;
}
.fot-box .social-box .social-links li a {
	border: 1px solid #333333;
}
.footer-absolute {
	background: none repeat scroll 0 0 #00000099;
	padding: 20px 0;
	position: relative;
}
.footer .social-box {
}
.footer .social-box li {
	display: inline-block;
	list-style: outside none none;
	margin-right: 5px;
	padding: 0;
}
.footer .social-box li:hover a {
	background: none repeat scroll 0 0 #555555;
	text-decoration: none;
	color: #fff;
}
.footer .social-box li a {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #555555;
	border-radius: 100px;
	color: #999999;
	display: inline-block;
	font-size: 17px;
	height: 40px;
	line-height: 18px;
	padding: 11px;
	width: 40px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.copy {
	color: #fff;
	font-size: 13px;
}
.copy a {
	color: #333333;
	text-decoration: underline;
}
.copy a:hover {
	text-decoration: none;
}
.scroll-top {
	background: none repeat scroll 0 0 #fff;
	bottom: -25px;
	display: inline-block;
	left: 48%;
	padding: 20px;
	position: absolute;
	text-align: center;
	width: 63px;
	text-decoration: none !important;
}
/*Flickr*/

.flickr-feed {
	list-style: outside none none;
	margin: 0;
	padding: 0;
	text-align: left;
}
.flickr-feed li {
	display: inline-block;
	list-style: outside none none;
	margin-bottom: 5%;
	margin-left: 3%;
	margin-right: 3%;
	padding: 0 !important;
	position: relative;
	width: 27%;
}
.flickr-feed > li > a > span {
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 350ms ease-in 0s;
	visibility: hidden;
	width: 100%;
	z-index: 2;
}
.flickr-feed > li > a:hover > span {
	opacity: 1;
	visibility: visible;
}
.flickr-feed > li > a > span > i {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 36px;
	left: 50%;
	line-height: 34px;
	margin-left: -18px;
	margin-top: -18px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 36px;
}
.flickr-feed li img {
	width: 100%;
	height: auto;
}
.fot-logo img {
	max-width: 100%;
	height: auto;
}
/*Price table*/

html .panel-danger > .panel-heading {
	background-color: #00000099;
	border-color: #00000099;
	color: #ffffff !important;
}
html .panel-danger .panel-heading h3 {
	color: #ffffff;
}
html .panel-heading h3 {
	font-size: 18px;
	text-transform: uppercase;
}
html .panel-danger {
	border-color: #dddddd;
}
html .panel-title.price {
	color: #000;
}
html .panel-danger .btn-danger {
	background-color: #00000099;
	border-color: #00000099;
	color: #ffffff;
}
/*Flaticon Demo*/


.glyph {
	background: none repeat scroll 0 0 #fff;
	display: inline-block;
	margin: 10px;
	text-align: center;
	vertical-align: top;
	width: 120px;
}
.glyph {
	background: none repeat scroll 0 0 #fff;
	display: inline-block;
	margin: 10px;
	text-align: center;
	vertical-align: top;
	width: 120px;
}
.glyph .glyph-icon {
	display: block;
	font-family: "Flaticon";
	font-size: 64px;
	line-height: 1;
	padding: 10px;
}
.glyph .glyph-icon::before {
	font-size: 44px;
	margin-left: 0;
}
/*Scroll Top*/

html .scroll-top-view {
	opacity: 1 !important;
}
.scroll-top {
	background: none repeat scroll 0 0 #00000099;
	bottom: 2%;
	color: #fff !important;
	cursor: pointer;
	display: inline-block;
	left: auto;

	padding: 6px;
	position: fixed;
	right: 2% !important;
	text-align: center;
	text-decoration: none !important;
	width: 38px;
		opacity: 0  !important;
}
/*PPBOX*/


.pp-box-wrap {
	text-align: center;
	width: 580px;
	float: left;
}
.pp-box {
	float: left;
}
.pp-box-item {
	background: none repeat scroll 0 0 #f4f4f4;
	float: left;
	width: 585px;
}
.pp-box {
	height: 248px;
	width: 290px;
	position: relative;
}
.pp-image img {
	width: 100%;
	height: auto;
}
.pp-content {
	box-sizing: content-box;
	padding: 30px;
	text-align: left;
}
.pp-content h5 {
	margin-bottom: 20px;
}
.pp-content p {
	font-size: 14px;
	line-height: 26px;
}
.pp-content:hover {
	background: none repeat scroll 0 0 #00000099;
	color: #fff;
}
.pp-content:hover * {
	color: #fff;
}
.pp-content:hover .arrow {
	border-color: #00000099 !important;
}
.pp-content.top .arrow {
	border: 12px solid #f4f4f4;
	top: -10px;
	height: 20px;
	left: 30px;
	position: absolute;
	width: 20px;
	z-index: 999;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
 filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
}
.pp-content.bottom .arrow {
	border: 12px solid #f4f4f4;
	bottom: -10px;
	height: 20px;
	left: 30px;
	position: absolute;
	width: 20px;
	z-index: 999;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
 filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
}
/*Team*/

.carousel-team li {
	position: relative;
}
.carousel-team .media:hover .overlay-team {
	opacity: 1;
}
.carousel-team .media::after {
	display: none !important;
}
.overlay-team {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 13px;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	padding: 25px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.3s ease-out 0s;
	width: 100%;
	z-index: 9999;
}
.carousel-team .team-name {
	text-align: center;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
}
.carousel-team .team-position {
	color: #526aff;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
}
